Source: ros-noetic-fuse-loss
Section: misc
Priority: optional
Maintainer: Stephen Williams <swilliams@locusrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libceres-dev, libqwt-qt5-dev, qtbase5-dev, ros-noetic-catkin, ros-noetic-fuse-core, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-roslint
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-fuse-loss
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libceres-dev, ros-noetic-fuse-core, ros-noetic-pluginlib, ros-noetic-roscpp
Description: The fuse_loss package provides a set of commonly used loss functions, such as the basic ones provided by Ceres.
