Source: ros-noetic-fuse-core
Section: misc
Priority: optional
Maintainer: Stephen Williams <swilliams@locusrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libceres-dev, libeigen3-dev, ros-noetic-catkin, ros-noetic-fuse-msgs, ros-noetic-pluginlib, ros-noetic-rosconsole (>= 1.13.8), ros-noetic-roscpp, ros-noetic-roslint, ros-noetic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-fuse-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libceres-dev, libeigen3-dev, ros-noetic-fuse-msgs, ros-noetic-pluginlib, ros-noetic-rosconsole (>= 1.13.8), ros-noetic-roscpp
Description: The fuse_core package provides the base class interfaces for the various fuse components.
 Concrete implementations of these interfaces are provided in other packages.
